.build-untitled2-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/
.untitled2/main.cpp
.untitled2/mainwindow.cpp
.untitled2/mainwindow.h
.untitled2/mainwindow.ui
.untitled2/untitle2.pro
.untitled2/untitle2.pro.user
